.form-control {

	&:focus {
		box-shadow: none;
	}

	&.is-valid,
	.was-validated &:valid {

		&,
		&:focus {
			box-shadow: none;
			border-color: var(--bs-border-color);
		}
	}

	&.is-invalid,
	.was-validated &:invalid {
		background-image: none;

		&:focus {
			box-shadow: none;
		}
	}
}
