:root,
[data-bs-theme="light"] {
	--risecheckout-primary: #284a60;
	--risecheckout-primary-rgb: 40, 74, 96;
	--risecheckout-secondary: #979fa5;
	--risecheckout-link-color: var(--risecheckout-primary);
	--risecheckout-link-decoration: none;
	--risecheckout-link-hover-color: #f3c953;
	--risecheckout-link-hover-decoration: var(--risecheckout-link-decoration);
	--risecheckout-font-sans-serif: quicksand, sans-serif;
	--risecheckout-body-font-size: 1rem;
	--risecheckout-body-font-weight: 400;
	--risecheckout-body-line-height: 1.5;
	--risecheckout-body-color: #2e3a42;
	--risecheckout-dark: #191f24;
	--risecheckout-dark-rgb: 25, 31, 36;
	--risecheckout-navbar-padding-y: 0.625rem;
	--risecheckout-navbar-margin-bottom: 1.5rem;
	--risecheckout-navbar-brand-padding-y: 0.3125rem;
	--risecheckout-navbar-brand-height: 3.125rem;
	--risecheckout-border-width: 1px;
	--risecheckout-primary-bg-subtle: rgba(var(--risecheckout-primary-rgb), 0.15);
	--risecheckout-info-text-emphasis: #055160;
	--risecheckout-info-border-subtle: #9eeaf9;
	--risecheckout-info-bg-subtle: #cff4fc;
	--risecheckout-border-radius: 0.3125rem;
	--risecheckout-heading-font-weight: 700;
	--risecheckout-heading-color: #284a60;
	--risecheckout-label-color: #2e3a42;
	--risecheckout-label-margin-bottom: 0.3125rem;
	--risecheckout-form-control-color: #2e3a42;
	--risecheckout-form-control-bg: #fff;
	--risecheckout-form-control-border-color: #2e3a42;
	--risecheckout-form-control-border-radius: var(--risecheckout-border-radius);
	--risecheckout-label-font-weight: 700;
	--risecheckout-label-line-height: inherit;
	--risecheckout-content-bg: #fff;
	--risecheckout-border-color: var(--risecheckout-body-color);
	--risecheckout-tertiary-bg: #f0f5f9;
	--risecheckout-emphasis-color: #000;
	--risecheckout-danger-text-emphasis: #58151c;
	--risecheckout-danger-bg-subtle: #f8d7da;
	--risecheckout-success-text-emphasis: #0a3622;
	--risecheckout-success-bg-subtle: #d1e7dd;
	--risecheckout-border-radius-xxl: 2rem;
	--risecheckout-border-color-translucent: rgba(0, 0, 0, 0.175);

	&.look-a-like {
		--risecheckout-font-sans-serif: rubik, sans-serif;
		--risecheckout-body-font-size: 0.8125rem;
		--risecheckout-body-line-height: 1;
		--risecheckout-dark-rgb: 0, 0, 0;
		--risecheckout-navbar-brand-height: 3rem;
		--risecheckout-label-margin-bottom: 0.25rem;
		--risecheckout-form-control-color: #333;
		--risecheckout-form-control-border-radius: 1.40625rem;
		--risecheckout-form-control-padding-x: 1.25rem;
		--risecheckout-form-control-padding-y: 0.75rem;
		--risecheckout-form-control-font-size: 0.8125rem;
		--risecheckout-form-control-line-height: 1.4616;
		--risecheckout-label-font-weight: 400;
		--risecheckout-label-font-size: .8125rem;
		--risecheckout-label-line-height: 1;
		--risecheckout-border-radius-xxl: 1.875rem;
		--risecheckout-border-color-translucent: #999;
		--risecheckout-heading-margin-bottom: 1.25rem;
	}

	&.look-a-like-color {
		--risecheckout-form-control-border-color: #d0d0d0;
		--risecheckout-body-color: #000;
	}

	&.default {
		--risecheckout-primary: #0d6efd;
		--risecheckout-link-decoration: underline;
		--risecheckout-link-hover-color: #0a58ca;
		--risecheckout-link-hover-decoration: var(--risecheckout-link-decoration);
		--risecheckout-font-sans-serif: system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		--risecheckout-body-color: #212529;
		--risecheckout-heading-font-family: inherit;
		--risecheckout-border-radius: 0.375rem;
		--risecheckout-label-margin-bottom: 0.5rem;
		--risecheckout-label-font-weight: inherit;
		--risecheckout-label-line-height: inherit;
		--risecheckout-border-color: #dee2e6;
		--risecheckout-tertiary-bg: #f8f9fa;
	}

	.risecheckout-multistep {
		--risecheckout-body-bg: #f0f5f9;
	}
}

:root,
[data-bs-theme="dark"] {
	--risecheckout-emphasis-color: #fff;
}

:root {
	height: 100%;

	@media (min-width: 601px) {
		--risecheckout-navbar-margin-bottom: 2.25rem;
		--risecheckout-navbar-padding-y: 0.9375rem;
		--risecheckout-navbar-brand-height: 3.75rem;
	}
}

.themed-risecheckout {

	@media (max-width: 575.98px) {
		--risecheckout-form-control-padding-y: 0.6875rem;
		--risecheckout-form-control-padding-x: 0.875rem;
		--risecheckout-form-control-font-size: 0.875rem;
		--risecheckout-form-control-line-height: 1.5;
	}

	:not(.look-a-like) & {
		--risecheckout-heading-margin-bottom: 0.875rem;
		--risecheckout-heading-font-family: montserrat, sans-serif;
		--risecheckout-form-control-padding-y: 0.8125rem;
		--risecheckout-form-control-padding-x: 1rem;
		--risecheckout-form-control-line-height: 1.4375;

		@media (min-width: 601px) {
			--risecheckout-label-font-size: 1.125rem;
			--risecheckout-label-line-height: 1.22222222;
		}
	}
}

*,
::after,
::before {
	box-sizing: border-box;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

img,
svg {
	vertical-align: middle;
}

button {
	border-radius: 0;
}

button,
select {
	text-transform: none;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
	cursor: pointer;
}

button,
input,
select,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}

body {
	margin: 0;
	font-family: var(--risecheckout-font-sans-serif);
	font-size: var(--risecheckout-body-font-size);
	font-weight: var(--risecheckout-body-font-weight);
	line-height: var(--risecheckout-body-line-height);
	color: var(--risecheckout-body-color);
	background-color: var(--risecheckout-body-bg);
	display: flex;
	height: 100%;
	flex-direction: column;
}

.navbar {
	--risecheckout-navbar-padding-x: 0;
	--risecheckout-navbar-color: var(--risecheckout-emphasis-color);
	--risecheckout-navbar-hover-color: rgba(var(--risecheckout-emphasis-color-rgb), 0.8);
	--risecheckout-navbar-disabled-color: rgba(var(--risecheckout-emphasis-color-rgb), 0.3);
	--risecheckout-navbar-active-color: rgba(var(--risecheckout-emphasis-color-rgb), 1);
	--risecheckout-navbar-brand-padding-y: 0.3125rem;
	--risecheckout-navbar-brand-margin-end: 1rem;
	--risecheckout-navbar-brand-font-size: 1.25rem;
	--risecheckout-navbar-brand-color: rgba(var(--risecheckout-emphasis-color-rgb), 1);
	--risecheckout-navbar-brand-hover-color: rgba(var(--risecheckout-emphasis-color-rgb), 1);
	--risecheckout-navbar-nav-link-padding-x: 0.5rem;
	--risecheckout-navbar-toggler-padding-y: 0.25rem;
	--risecheckout-navbar-toggler-padding-x: 0.75rem;
	--risecheckout-navbar-toggler-font-size: 1.25rem;

	/* --risecheckout-navbar-toggler-font-size: 1.875rem; */
	--risecheckout-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
	--risecheckout-navbar-toggler-border-color: transparent;
	--risecheckout-navbar-toggler-border-radius: var(--risecheckout-border-radius);
	--risecheckout-navbar-toggler-focus-width: 0.25rem;
	--risecheckout-navbar-toggler-transition: box-shadow 0.15s ease-in-out;

	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: var(--risecheckout-navbar-padding-y) var(--risecheckout-navbar-padding-x);
	margin-bottom: var(--risecheckout-navbar-margin-bottom);
	transition-property: height, padding;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);

	&[data-bs-theme="dark"] {
		--risecheckout-navbar-hover-color: rgba(255, 255, 255, 0.75);
		--risecheckout-navbar-disabled-color: rgba(255, 255, 255, 0.25);
		--risecheckout-navbar-active-color: #fff;
		--risecheckout-navbar-brand-color: #fff;
		--risecheckout-navbar-brand-hover-color: #fff;
		--risecheckout-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
	}

	& > .container {
		display: flex;
		flex-wrap: inherit;
		align-items: center;
		justify-content: space-between;
	}

	a {
		color: inherit;
	}

	.look-a-like & {
		--risecheckout-navbar-padding-y: 0.75rem;
		--risecheckout-navbar-brand-height: 3rem;
		--risecheckout-navbar-margin-bottom: 1.5625rem;
	}

	.themed-risecheckout.scrolled & {
		--risecheckout-navbar-padding-y: 0;
	}


	& .navbar-brand {

		& svg,
		& img {
			filter: invert(100%);
		}
	}
}

@media (min-width: 601px) {

	.navbar-expand-md {
		flex-wrap: nowrap;
		justify-content: flex-start;

		& .navbar-collapse {
			display: flex !important;
			flex-basis: auto;
		}

		& .navbar-toggler {
			display: none;
		}

		& .navbar-text {
			text-align: right;
		}

		& .navbar-collapse {
			justify-content: end;
		}
	}
}

@media (min-width: 992px) {

	.navbar {

		& .container {
			flex-wrap: wrap;
			align-items: center;
			justify-content: unset;

			&::before {
				content: "";
				display: block;
			}

			&::before,
			& .navbar-brand,
			& .navbar-collapse {
				flex: 1 0 0%;
				width: 100%;
				max-width: 100%;
			}

			& .navbar-brand {
				flex: 0 0 auto;
				width: auto;
			}
		}

		& .navbar-collapse {
			justify-content: end;
		}
	}
}

/* & > .container {


} */

.navbar-toggler {
	padding: var(--risecheckout-navbar-toggler-padding-y) var(--risecheckout-navbar-toggler-padding-x);
	font-size: var(--risecheckout-navbar-toggler-font-size);
	line-height: 1;
	color: var(--risecheckout-navbar-color);
	background-color: transparent;
	border: var(--risecheckout-border-width) solid var(--risecheckout-navbar-toggler-border-color);
	border-radius: var(--risecheckout-navbar-toggler-border-radius);
	transition: var(--risecheckout-navbar-toggler-transition);
	display: flex;
	gap: calc((var(--risecheckout-navbar-toggler-padding-x) + var(--risecheckout-border-width)) * 2 - var(--risecheckout-border-width));

	&:hover {
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
		outline: 0;
		box-shadow: none;
	}

	& .fal::before {
		font-size: 1.875rem;
	}
}

@media (prefers-reduced-motion: reduce) {

	.navbar-toggler {
		transition: none;
	}
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	background-image: var(--risecheckout-navbar-toggler-icon-bg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	[data-bs-theme="dark"] & {
		--risecheckout-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
	}
}

.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
}

.bg-dark {
	background-color: var(--risecheckout-dark) !important;
}

.navbar-brand {
	padding-top: var(--risecheckout-navbar-brand-padding-y);
	padding-bottom: var(--risecheckout-navbar-brand-padding-y);
	font-size: var(--risecheckout-navbar-brand-font-size);
	color: var(--risecheckout-navbar-brand-color);
	text-decoration: none;
	white-space: nowrap;

	& img {
		--h: var(--risecheckout-navbar-brand-height, auto);

		transition-property: height, width;
		transition-duration: 0.3s;
		height: var(--h);
		width: auto;

		.themed-risecheckout.scrolled & {
			--h: 2.5rem;
		}
	}
}

.collapse {

	&:not(.show) {
		display: none;
	}
}

.collapsing {
	height: 0;
	overflow: hidden;
	transition: height 0.35s ease;
}

@media (prefers-reduced-motion: reduce) {

	.collapsing {

		&,
		&.collapse-horizontal {
			transition: none;
		}
	}
}

.navbar-collapse {
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
}

.navbar-text {
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: var(--risecheckout-navbar-color);
	transition-property: gap;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.78, 0.13, 0.15, 0.86);

	@media (min-width: 768px) {
		padding-top: 0;
		padding-bottom: 0;
	}

	.themed-risecheckout.scrolled & {
		gap: 0;
	}
}

@media (min-width: 768px) {

	.navbar-text {
		text-align: right;
	}
}

.container {
	--risecheckout-gutter-x: 1.5rem;
	--risecheckout-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--risecheckout-gutter-x) * 0.5);
	padding-left: calc(var(--risecheckout-gutter-x) * 0.5);
	margin-right: auto;
	margin-left: auto;

	main > & {
		padding-top: calc(var(--risecheckout-navbar-padding-y) * 2 + var(--risecheckout-navbar-brand-padding-y) * 2 + var(--risecheckout-navbar-brand-height) + var(--risecheckout-navbar-margin-bottom));
		padding-bottom: 0.5625rem;
	}
}

@media (min-width: 576px) {

	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {

	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {

	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {

	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1204px) {

	.container {
		max-width: 1204px;
	}
}

a {
	color: var(--risecheckout-link-color);
	text-decoration: var(--risecheckout-link-decoration);
	transition-property: color;
	transition-duration: 0.2s;

	&:hover {
		--risecheckout-link-color: var(--risecheckout-link-hover-color);

		text-decoration: var(--risecheckout-link-hover-decoration);
	}
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	--risecheckout-alert-bg: transparent;
	--risecheckout-alert-padding-x: 1rem;
	--risecheckout-alert-padding-y: 1rem;
	--risecheckout-alert-margin-bottom: 1rem;
	--risecheckout-alert-color: inherit;
	--risecheckout-alert-border-color: transparent;
	--risecheckout-alert-border: var(--risecheckout-border-width) solid var(--risecheckout-alert-border-color);
	--risecheckout-alert-border-radius: var(--risecheckout-border-radius);
	--risecheckout-alert-link-color: inherit;
	--risecheckout-alert-link-hover-color: inherit;

	position: relative;
	padding: var(--risecheckout-alert-padding-y) var(--risecheckout-alert-padding-x);
	margin: 0 0 var(--risecheckout-alert-margin-bottom);
	color: var(--risecheckout-alert-color);
	background-color: var(--risecheckout-alert-bg);
	border: 0;
	border: var(--risecheckout-alert-border);
	border-radius: var(--risecheckout-alert-border-radius);

	&:focus-visible {
		outline: 0;
	}

	.themed-risecheckout & {
		--risecheckout-alert-padding-x: 1.6875rem;
		--risecheckout-alert-padding-y: 1.125rem;
		--risecheckout-alert-margin-bottom: 1.6875rem;
		--risecheckout-alert-border: 0;
	}

	a {
		color: var(--risecheckout-alert-link-color);

		&.button {
			--py: .8125rem;
			--px: 1rem;

			background-color: transparent !important;
			font-size: inherit !important;
			font-family: inherit !important;
			padding: 0 !important;
			display: inline !important;
			border: 0 !important;
			color: var(--risecheckout-alert-link-color) !important;
			text-transform: none !important;
			font-weight: 700 !important;
			line-height: inherit !important;
			padding: var(--py) var(--px) !important;
			margin: calc(-1 * var(--py)) calc(-1 * var(--py)) calc(-1 * var(--py)) 0;
		}

		&:hover {
			--risecheckout-alert-link-color: var(--risecheckout-alert-link-hover-color);
		}

		&:not(.button) {
			font-weight: var(--risecheckout-alert-font-weight);
		}
	}

	&::after,
	&::before {
		display: none;
	}

	&::after {
		clear: none;
	}

	&::before {
		font-family: inherit;
		content: "";
		position: static;
		top: auto;
		left: auto;
	}
}

.woocommerce-error {
	--risecheckout-alert-color: var(--risecheckout-danger-text-emphasis);
	--risecheckout-alert-bg: var(--risecheckout-danger-bg-subtle);
	--risecheckout-alert-link-color: var(--risecheckout-danger-text-emphasis);
}

.woocommerce-info {
	--risecheckout-alert-color: var(--risecheckout-info-text-emphasis);
	--risecheckout-alert-bg: var(--risecheckout-info-bg-subtle);
	--risecheckout-alert-link-color: var(--risecheckout-info-text-emphasis);
	--risecheckout-alert-link-hover-color: var(--risecheckout-alert-link-color);
	--risecheckout-alert-border-color: var(--risecheckout-info-border-subtle);

	.themed-risecheckout & {
		--risecheckout-alert-color: inherit;
		--risecheckout-alert-bg: var(--risecheckout-primary-bg-subtle);
		--risecheckout-alert-link-color: var(--risecheckout-link-color);
		--risecheckout-alert-link-hover-color: var(--risecheckout-link-hover-color);
	}
}

.woocommerce-message {
	--risecheckout-alert-color: var(--risecheckout-success-text-emphasis);
	--risecheckout-alert-bg: var(--risecheckout-success-bg-subtle);
	--risecheckout-alert-link-color: var(--risecheckout-success-text-emphasis);
}

/* h5 */
.h3 {
	margin-top: 0;
	margin-bottom: var(--risecheckout-heading-margin-bottom, 0.5rem);
	font-family: var(--risecheckout-heading-font-family);
	font-weight: var(--risecheckout-heading-font-weight);
	line-height: 1.2;
	color: var(--risecheckout-heading-color);
}

/* h5 */
.h3 {
	--font-size: 1.25rem;

	font-size: var(--font-size);

	.themed-risecheckout & {
		--font-size: 2rem;

		@media (min-width: 601px) {
			--font-size: 2.25rem;
		}

		@media (min-width: 1200px) {
			--font-size: 2rem;
		}
	}

	.look-a-like & {
		--font-size: 1.125rem;
		--line-height: 1.166666667;

		text-transform: uppercase;
		line-height: var(--line-height);

		@media (max-width: 1060.98px) {
			--font-size: 1.0625rem;
			--line-height: 1.235294118;
		}
	}
}
.checkout {
	--risecheckout-gutter-x: 3rem;
	--risecheckout-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1* var(--risecheckout-gutter-y));
	margin-right: calc(-0.5* var(--risecheckout-gutter-x));
	margin-left: calc(-0.5* var(--risecheckout-gutter-x));

	.look-a-like & {
		--risecheckout-gutter-x: 2.5rem;
	}

	.themed-risecheckout & {
		--risecheckout-gutter-x: 3.727%;
	}

	& > * {
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(var(--risecheckout-gutter-x) * 0.5);
		padding-left: calc(var(--risecheckout-gutter-x) * 0.5);
		margin-top: var(--risecheckout-gutter-y);
		margin-bottom: 1.6875rem;
	}
}

.customer-details,
.checkout-steps-col {

	/* @media (min-width: 768px) {
		--width: 58.33333333%;

		flex: 0 0 auto;
		width: var(--width);

		.themed-risecheckout & {
			--width: 50%;
		}
	} */

	/* 992 */
	@media (min-width: 1061px) {
		--width: 66.66666667%;

		flex: 0 0 auto;
		width: var(--width);

		.themed-risecheckout & {
			--width: 50%;
		}

		.look-a-like & {
			--width: 68.2192557%;
		}
	}
}

.order-review {
	@media (min-width: 768px) {
		--width: 41.66666667%;

		flex: 0 0 auto;
		width: var(--width);
	}

	@media (min-width: 992px) {
		--width: 33.33333333%;

		.themed-risecheckout & {
			--width: 50%;
		}

		.look-a-like & {
			--width: 31.7807443%;
		}
	}
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper,
.woocommerce-additional-fields__field-wrapper {
	--risecheckout-gutter-x: 0.75rem;
	--risecheckout-gutter-y: 1rem;

	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1* var(--risecheckout-gutter-y));
	margin-right: calc(-0.5* var(--risecheckout-gutter-x));
	margin-left: calc(-0.5* var(--risecheckout-gutter-x));

	.themed-risecheckout & {
		--risecheckout-gutter-y: 0.5625rem;
	}

	.look-a-like & {
		--risecheckout-gutter-y: 1.125rem;
	}

	& > * {
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(var(--risecheckout-gutter-x) * 0.5);
		padding-left: calc(var(--risecheckout-gutter-x) * 0.5);
		margin-top: var(--risecheckout-gutter-y);
		margin-bottom: 0;
	}

	& .break {
		margin-top: 0;
	}
}

.unique-country {
	display: none;
}


.form-row {

	.woocommerce form & {
		margin: 0;

		&::after,
		&::before {
			display: none;
		}

		&::after {
			clear: none;
		}

		&.woocommerce-validated {

			& .select2-container,
			& input.input-text,
			& select {
				border-color: var(--risecheckout-form-control-border-color);
			}
		}

		&.woocommerce-invalid {

			label {
				color: var(--risecheckout-label-color);
			}

			& .select2-container,
			& input.input-text,
			& select {
				border-color: var(--risecheckout-form-control-border-color);
			}
		}
	}

	.woocommerce form &,
	.woocommerce-page form & {
		padding: 0 calc(var(--risecheckout-gutter-x) * 0.5);
		margin-top: var(--risecheckout-gutter-y);
		margin-bottom: 0;
	}
}

.form-row-first,
.form-row-last,
.form-row-wide {
	--width: 100%;

	.woocommerce form &,
	.woocommerce-page form & {
		flex: 0 0 auto;
		width: var(--width);
	}
}

.form-row-first,
.form-row-last {
	--width: 50%;

	.woocommerce form &,
	.woocommerce-page form & {
		overflow: visible;
		float: none;
	}
}

.postcode-field {
	.woocommerce form &,
	.woocommerce-page form & {
		--width: 58.33333333%;

		.look-a-like & {
			--width: 57%;
		}
	}
}

.state-field,
.number-field {
	.woocommerce form &,
	.woocommerce-page form & {
		--width: 33.33333333%;
	}
}

.city-field,
.neighborhood-field {
	.woocommerce form &,
	.woocommerce-page form & {
		--width: 66.66666667%;
	}
}

label {
	--line-height: var(--risecheckout-label-line-height, inherit);

	display: inline-block;
	color: var(--risecheckout-label-color);
	margin-bottom: var(--risecheckout-label-margin-bottom);
	font-size: var(--risecheckout-label-font-size, inherit);
	font-weight: var(--risecheckout-label-font-weight, inherit);
	line-height: var(--line-height);

	& .required {
		display: none;
	}

	.woocommerce form .form-row & {
		line-height: var(--line-height);
	}

	&.checkbox {
		font-size: inherit;
		font-weight: inherit;
	}

	& .optional {
		font-weight: 400;
	}
}

input.input-text,
select,
textarea {

	.woocommerce form .form-row & {
		--padding-y: var(--risecheckout-form-control-padding-y, 0.375rem);
		--padding-x: var(--risecheckout-form-control-padding-x, 0.75rem);
		--font-size: var(--risecheckout-form-control-font-size, 1rem);
		--color: var(--risecheckout-form-control-color);
		--bg: var(--risecheckout-form-control-bg);
		--border-color: var(--risecheckout-form-control-border-color);
		--border-radius: var(--risecheckout-form-control-border-radius);
		--line-height: var(--risecheckout-form-control-line-height, 1.5);

		display: block;
		width: 100%;
		padding: var(--padding-y) var(--padding-x);
		font-size: var(--font-size);
		font-weight: 400;
		line-height: var(--line-height);
		color: var(--color);
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: var(--bg);
		background-clip: padding-box;
		border: var(--risecheckout-border-width) solid var(--border-color);
		border-radius: var(--border-radius);
		transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;

		&:focus {
			background-color: var(--bg);
			border-color: var(--border-color);
			outline: 0;

			.look-a-like & {
				--bg: #f4f6f8;
				--border-color: #333;
			}
		}
	}
}

select {
	--color: var(--risecheckout-form-control-color);
	--bg: var(--risecheckout-form-control-bg);
	--border-color: var(--risecheckout-form-control-border-color);
	--border-radius: var(--risecheckout-form-control-border-radius);
	--risecheckout-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);

	display: block;
	width: 100%;
	padding: var(--risecheckout-form-control-padding-y, 0.375rem) calc(var(--risecheckout-form-control-padding-x, 0.75rem) + 1.5rem) var(--risecheckout-form-control-padding-y, 0.375rem) var(--risecheckout-form-control-padding-x, 0.75rem);
	font-size: var(--risecheckout-form-control-font-size, 1rem);
	font-weight: 400;
	line-height: var(--risecheckout-form-control-line-height, 1.5);
	color: var(--color);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--bg);
	background-image: var(--risecheckout-form-select-bg-img), var(--risecheckout-form-select-bg-icon, none);
	background-repeat: no-repeat;
	background-position: right var(--risecheckout-form-control-padding-x, 0.75rem) center;
	background-size: 16px 12px;
	border: var(--risecheckout-border-width) solid var(--border-color);
	border-radius: var(--border-radius);
	transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;

	&:focus {
		background-color: var(--bg);
		border-color: var(--border-color);
		outline: 0;

		.look-a-like & {
			--bg: #f4f6f8;
			--border-color: #333;
		}
	}
}

#payment #place_order {

	.woocommerce &,
	.woocommerce-page & {
		float: none;
	}
}

#respond input#submit,
a.button,
button.button,
input.button {

	.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) &,
	:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce & {
		--risecheckout-btn-padding-x: 1.9375rem;
		--risecheckout-btn-padding-y: 0.8125rem;
		--risecheckout-btn-font-family:  ;
		--risecheckout-btn-font-size: 1rem;
		--risecheckout-btn-font-weight: 700;
		--risecheckout-btn-line-height: 1.4375;
		--risecheckout-btn-color: var(--risecheckout-body-color);
		--risecheckout-btn-bg: transparent;
		--risecheckout-btn-border-width: var(--risecheckout-border-width);
		--risecheckout-btn-border-color: transparent;
		--risecheckout-btn-border-radius: 1.59375rem;
		--risecheckout-btn-hover-border-color: transparent;
		--risecheckout-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
		--risecheckout-btn-disabled-opacity: 0.65;
		--risecheckout-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--risecheckout-btn-focus-shadow-rgb), 0.5);
		--risecheckout-btn-text-transform: uppercase;

		display: inline-block;
		padding: var(--risecheckout-btn-padding-y) var(--risecheckout-btn-padding-x);
		font-family: var(--risecheckout-btn-font-family);
		font-size: var(--risecheckout-btn-font-size);
		font-weight: var(--risecheckout-btn-font-weight);
		line-height: var(--risecheckout-btn-line-height);
		color: var(--risecheckout-btn-color);
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		border: var(--risecheckout-btn-border-width) solid var(--risecheckout-btn-border-color);
		border-radius: var(--risecheckout-btn-border-radius);
		background-color: var(--risecheckout-btn-bg);
		transition: color 0.15sease-in-out, background-color 0.15sease-in-out, border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;
		text-transform: var(--risecheckout-btn-text-transform);
	}

	.default & {
		--risecheckout-btn-padding-x: 0.75rem;
		--risecheckout-btn-padding-y: 0.8125rem;
		--risecheckout-btn-font-weight: 400;
		--risecheckout-btn-line-height: 1.5;
		--risecheckout-btn-border-radius: var(--risecheckout-border-radius);
		--risecheckout-btn-text-transform: none;
	}
}

#respond input#submit,
a.button,
button.button,
input.button {

	.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) &,
	:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce & {
		--risecheckout-btn-color: #fff;
		--risecheckout-btn-bg: #6c757d;
		--risecheckout-btn-border-color: #6c757d;
		--risecheckout-btn-hover-color: #fff;
		--risecheckout-btn-hover-bg: #5c636a;
		--risecheckout-btn-hover-border-color: #565e64;
		--risecheckout-btn-focus-shadow-rgb: 130, 138, 145;
		--risecheckout-btn-active-color: #fff;
		--risecheckout-btn-active-bg: #565e64;
		--risecheckout-btn-active-border-color: #51585e;
		--risecheckout-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--risecheckout-btn-disabled-color: #fff;
		--risecheckout-btn-disabled-bg: #6c757d;
		--risecheckout-btn-disabled-border-color: #6c757d;

		&,
		&.alt {
			--risecheckout-btn-color: #fff;
			--risecheckout-btn-bg: var(--risecheckout-primary);
			--risecheckout-btn-border-color: var(--risecheckout-primary);
			--risecheckout-btn-hover-color: #fff;
			--risecheckout-btn-hover-bg: var(--risecheckout-body-color);
			--risecheckout-btn-hover-border-color: var(--risecheckout-body-color);
			--risecheckout-btn-focus-shadow-rgb: 49, 132, 253;
			--risecheckout-btn-active-color: #fff;
			--risecheckout-btn-active-bg: #0a58ca;
			--risecheckout-btn-active-border-color: #0a53be;
			--risecheckout-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			--risecheckout-btn-disabled-color: #fff;
			--risecheckout-btn-disabled-bg: #0d6efd;
			--risecheckout-btn-disabled-border-color: #0d6efd;
		}
	}

	.default & {
		--risecheckout-btn-bg: #0d6efd;
		--risecheckout-btn-border-color: #0d6efd;
		--risecheckout-btn-hover-bg: #0b5ed7;
		--risecheckout-btn-hover-border-color: #0a58ca;
	}
}

.woocommerce-checkout-review-order {
	--bg:

	.themed-risecheckout & {
		padding: 2rem 2.25rem 2.25rem;
		border-radius: var(--risecheckout-border-radius);
	}

	.themed-risecheckout:not(.risecheckout-multistep) & {
		background-color: var(--risecheckout-tertiary-bg);
	}
}

.woocommerce table.shop_table {

	.themed-risecheckout & {
		border: 0;
		margin: 0 0 1.6875rem;
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		border-radius: 0;

		& thead {
			display: none;
		}

		& tr > :last-child {
			text-align: right;
		}

		& td,
		& th,
		& tfoot th,
		& tfoot td {
			border-top: 0;
		}

		& td {
			line-height: inherit;
		}

		& td,
		& th {
			padding: 0.25rem 0;
		}

		& .cart_item {
			font-size: 0.875rem;
			line-height: 1.21428571;
		}

		& .product-name {
			width: 70%;
			letter-spacing: -0.04em;
		}

		& .woocommerce-Price-amount {
			font-weight: 600;
		}

		& .order-total {
			font-size: 1.5625rem;
		}

		& label {
			font-size: 0.8125em;
			line-height: 1.385;
		}
	}
}

.woocommerce ul#shipping_method {
	display: flex;
	flex-direction: column;
	gap: 0.5625rem;
	margin-left: -134.84%;

	& .amount {
		color: #008000;
	}

	& li {
		font-size: 1rem;
		line-height: 1.25;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

#payment {

	#add_payment_method &,
	.woocommerce-cart &,
	.woocommerce-checkout & {

		.themed-risecheckout & {
			background-color: transparent;
		}
	}

	& ul.payment_methods {

		#add_payment_method &,
		.woocommerce-cart &,
		.woocommerce-checkout & {
			margin-bottom: 1.4375rem;

			.themed-risecheckout & {
				padding: 0;
				border-bottom: 0;
			}
		}
	}

	& div.payment_box {

		#add_payment_method &,
		.woocommerce-cart &,
		.woocommerce-checkout & {

			.themed-risecheckout & {
				--mt: 1.125em;
				--mb: 0.1875em;

				border-radius: var(--risecheckout-border-radius);
				padding: 1.9375rem 2.125rem;
				margin-top: var(--mt);
				margin-bottom: var(--mb);
				background-color: var(--risecheckout-content-bg);
				font-size: inherit;

				&::before {
					content: "";
					display: none;
					border: 0;
					position: stati;
					top: auto;
					left: auto;
					margin: 0;
				}
			}

			.risecheckout-multistep & {
				background-color: var(--risecheckout-tertiary-bg);
			}
		}
	}

	& ul.payment_methods li {

		#add_payment_method &,
		.woocommerce-cart &,
		.woocommerce-checkout & {
			line-height: inherit;

			&:not(:first-child) {
				margin-top: 1.1875rem;
			}
		}
	}

	& div.form-row {

		#add_payment_method &,
		.woocommerce-cart &,
		.woocommerce-checkout & {
			padding: 0;
		}

	}
}

label[for],
input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
	--risecheckout-form-check-bg: var(--risecheckout-form-control-bg);
	--margin-top: 0;
	--margin-end: 0.307692308em;

	color: inherit;
	flex-shrink: 0;
	width: 1em;
	height: 1em;
	font-size: 1.625em;
	margin-top: var(--margin-top);
	margin-right: var(--margin-end);
	vertical-align: top;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--risecheckout-form-check-bg);
	background-image: var(--risecheckout-form-check-bg-image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: var(--risecheckout-border-width) solid var(--risecheckout-border-color);
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	print-color-adjust: exact;

	.woocommerce ul#shipping_method li &,
	#add_payment_method #payment ul.payment_methods li &,
	.woocommerce-cart #payment ul.payment_methods li &,
	.woocommerce-checkout #payment ul.payment_methods li & {
		margin: var(--margin-top) var(--margin-end) 0 0;
	}

	& ~ label {
		font-size: 1em;
		margin-bottom: 0;
		line-height: 1.625;
	}

	&[type="checkbox"] {
		border-radius: var(--risecheckout-border-radius);
	}

	&[type="radio"] {
		border-radius: 50%;
	}

	&:active {
		filter: brightness(90%);
	}

	&:focus {
		outline: 0;
		box-shadow: none;
	}

	&:checked {
		background-color: var(--risecheckout-form-check-bg);
		border-color: var(--risecheckout-body-color);
	}

	&:checked[type="checkbox"] {
		--risecheckout-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%232e3a42' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
	}

	&:checked[type="radio"] {
		position: relative;

		&::before {
			content: "";
			display: block;
			width: 0.375em;
			height: 0.375em;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: inherit;
			background: currentcolor;
		}
	}
}

input[type="checkbox"] {
	--size: 0.889em;

	width: var(--size);
	height: var(--size);
}

.woocommerce-terms-and-conditions-wrapper {
	--risecheckout-gutter-x: 0.75rem;
	--risecheckout-gutter-y: 1.6875rem;

	font-size: 1.125rem;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1* var(--risecheckout-gutter-y));
	margin-right: calc(-0.5* var(--risecheckout-gutter-x));
	margin-left: calc(-0.5* var(--risecheckout-gutter-x));
	margin-bottom: 1.4375rem;

	& > * {
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(var(--risecheckout-gutter-x) * 0.5);
		padding-left: calc(var(--risecheckout-gutter-x) * 0.5);
		margin-top: var(--risecheckout-gutter-y);
	}
}

.woocommerce-privacy-policy-text {
	font-size: 0.8125em;
	line-height: 1.53846154;

	&,
	& p {
		margin-bottom: 0;
	}
}

#terms {

	.woocommerce-invalid & {
		outline: 0;
		outline-offset: 0;
		--risecheckout-border-color: #f00;
		box-shadow: 0 0 0 1px #f00;

		& ~ span {
			color: #f00;

			a {
				color: inherit;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.navbar,
.footer {
	font-size: 0.875rem;
	line-height: 1.57142857;

	& p {
		margin-bottom: 0;
	}
}

.navbar-text,
.footer-text {
	display: flex;
	flex-direction: column;
	gap: 0.3125rem;
}

.navbar-text {
	vertical-align: middle;

	& .fal {
		vertical-align: middle;
	}
}

.footer {
	margin-top: auto;
	padding: 2rem;
	color: var(--risecheckout-secondary);
	text-align: center;

	:not(.risecheckout-multistep) & {
		background-color: var(--risecheckout-tertiary-bg);
	}
}

.order-review-text {
	--risecheckout-gutter-x: 1.25rem;

	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	margin-top: 1.125rem;
	margin-right: calc(-0.5* var(--risecheckout-gutter-x));
	margin-left: calc(-0.5* var(--risecheckout-gutter-x));

	& > * {
		flex-shrink: 0;
		padding-right: calc(var(--risecheckout-gutter-x) * 0.5);
		padding-left: calc(var(--risecheckout-gutter-x) * 0.5);
		margin-top: var(--risecheckout-gutter-y);
		margin-bottom: 0;
		flex: 0 0 auto;

		flex: 1 0 0%;
		width: 100%;
		max-width: 100%;
	}

	& a {
		display: block;
	}
}

.btn-group {
	position: relative;
	vertical-align: middle;
	justify-content: flex-end;
	display: flex;
}

.btn-group > .btn {
	position: relative;
	flex: 0 1 auto;
}

.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
	z-index: 1;
}

.dropdown-menu {
	--risecheckout-dropdown-zindex: 1000;
	--risecheckout-dropdown-min-width: 10rem;
	--risecheckout-dropdown-padding-x: 0;
	--risecheckout-dropdown-padding-y: 0.5rem;
	--risecheckout-dropdown-spacer: 0.125rem;
	--risecheckout-dropdown-font-size: 1rem;
	--risecheckout-dropdown-color: var(--risecheckout-body-color);
	--risecheckout-dropdown-bg: var(--risecheckout-body-bg);
	--risecheckout-dropdown-border-color: var(--risecheckout-border-color-translucent);
	--risecheckout-dropdown-border-radius: var(--risecheckout-border-radius);
	--risecheckout-dropdown-border-width: var(--risecheckout-border-width);
	--risecheckout-dropdown-inner-border-radius: calc(var(--risecheckout-border-radius) - var(--risecheckout-border-width));
	--risecheckout-dropdown-divider-bg: var(--risecheckout-border-color-translucent);
	--risecheckout-dropdown-divider-margin-y: 0.5rem;
	--risecheckout-dropdown-box-shadow: var(--risecheckout-box-shadow);
	--risecheckout-dropdown-link-color: var(--risecheckout-body-color);
	--risecheckout-dropdown-link-hover-color: var(--risecheckout-body-color);
	--risecheckout-dropdown-link-hover-bg: var(--risecheckout-tertiary-bg);
	--risecheckout-dropdown-link-active-color: #fff;
	--risecheckout-dropdown-link-active-bg: #0d6efd;
	--risecheckout-dropdown-link-disabled-color: var(--risecheckout-tertiary-color);
	--risecheckout-dropdown-item-padding-x: 1rem;
	--risecheckout-dropdown-item-padding-y: 0.25rem;
	--risecheckout-dropdown-header-color: #6c757d;
	--risecheckout-dropdown-header-padding-x: 1rem;
	--risecheckout-dropdown-header-padding-y: 0.5rem;
	position: absolute;
	z-index: var(--risecheckout-dropdown-zindex);
	display: none;
	min-width: var(--risecheckout-dropdown-min-width);
	padding: var(--risecheckout-dropdown-padding-y) var(--risecheckout-dropdown-padding-x);
	margin: 0;
	font-size: var(--risecheckout-dropdown-font-size);
	color: var(--risecheckout-dropdown-color);
	text-align: left;
	list-style: none;
	background-color: var(--risecheckout-dropdown-bg);
	background-clip: padding-box;
	border: var(--risecheckout-dropdown-border-width) solid var(--risecheckout-dropdown-border-color);
	border-radius: var(--risecheckout-dropdown-border-radius);
}

.dropdown-menu[data-bs-popper] {
	top: 100%;
	left: 0;
	margin-top: var(--risecheckout-dropdown-spacer);
}

.dropdown-menu.show {
	display: block;
}

.visually-hidden {
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.visually-hidden:not(caption) {
	position: absolute !important;
}

@keyframes rotation {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.blockUI.blockOverlay {
	--size: 3rem;

	.woocommerce & {

		&::before,
		&::after {
			background: none;
			border: 2px solid;
			border-radius: 50%;
			content: "";
			display: block;
			width: var(--size);
			height: var(--size);
			position: absolute;
			top: 50%;
			left: 50%;
			margin: 0;
			margin-top: calc(-1 * var(--size) * 0.5);
			margin-left: calc(-1 * var(--size) * 0.5);
			animation: rotation 0.8s infinite cubic-bezier(0.6, 0.3, 0.3, 0.6);
			font-size: inherit;
			color: inherit;
		}

		&::before {
			opacity: 0.2;
		}

		&::after {
			border-color: transparent;
			border-top-color: inherit;
		}
	}
}

::placeholder {
	color: inherit;
	opacity: .5
}

::-moz-placeholder {
	color: inherit;
	opacity: .5
}

::-webkit-input-placeholder {
	color: inherit;
	opacity: .5
}

form.checkout_coupon,
form.login,
form.register {
	.woocommerce & {
		--risecheckout-gutter-x: 2.75rem;
		--risecheckout-gutter-y: 1.6875rem;

		display: flex;
		flex-wrap: wrap;
		margin-top: var(--risecheckout-gutter-y);
		padding: min(calc(2 * var(--risecheckout-gutter-y)), 10%) min(calc(2 * var(--risecheckout-gutter-y) - .5 * var(--risecheckout-gutter-x)), calc(10% - .5 * var(--risecheckout-gutter-x)));
		box-shadow: 0 5px 15px rgba(0,0,0,.15);
		border: 0;
		border-radius: 0;

		> * {
			flex-shrink: 0;
			max-width: 100%;
			padding-right: calc(var(--risecheckout-gutter-x)* 0.5);
			padding-left: calc(var(--risecheckout-gutter-x)* 0.5);
			margin-top: 0;
			margin-bottom: var(--risecheckout-gutter-y);
		}

		> :not(.form-row) {
			font-size: 1.125em;
			width: 100%;
		}
	}

	.risecheckout-multistep & {
		background-color: #fff;
	}

	.clear {
		display: none;
		clear: initial;
	}
}

form.woocommerce-form-coupon,
form.woocommerce-form-login {
	.woocommerce-no-js & {
		display: flex !important;
	}
}

.checkout-steps {
	--column-gap: 1.5rem;
	--grid-template-columns: calc(50% - var(--column-gap) * 0.5) 1fr;

	counter-reset: step;
	display: grid;
	row-gap: 1.5rem;

	.look-a-like & {
		--column-gap: 2.99%;
		--grid-template-columns: 48.56% 1fr;
	}

	.checkout-form-columns & {
		display: grid;
		row-gap: 1.5rem;

		@media (min-width: 1061px) {
			grid-template-columns: var(--grid-template-columns);
			grid-template-rows: auto auto;
			column-gap: var(--column-gap);

			> * {
				align-self: start;
			}

			.risecheckout-step-address {
				grid-row: 2;
			}

			.risecheckout-step-payment {
				grid-row: 1 / span 2;
			}
		}
	}
}

/* .card, */
.checkout-steps > div,
.order-review-inner {
	--risecheckout-card-spacer-y: 2rem;
	--risecheckout-card-spacer-x: 2rem;
	--risecheckout-card-title-spacer-y: 0.5rem;
	--risecheckout-card-title-color: ;
	--risecheckout-card-subtitle-color: ;
	--risecheckout-card-desc-color: ;
	--risecheckout-card-desc-font: quicksand, sans-serif;
	--risecheckout-card-border-width: 2px;
	--risecheckout-card-border-color: var(--risecheckout-border-color-translucent);
	--risecheckout-card-border-radius: var(--risecheckout-border-radius);
	--risecheckout-card-box-shadow: ;
	--risecheckout-card-inner-border-radius: calc(var(--risecheckout-border-radius) - var(--risecheckout-card-border-width));
	--risecheckout-card-cap-padding-y: 0.5rem;
	--risecheckout-card-cap-padding-x: 1rem;
	--risecheckout-card-cap-bg: rgba(var(--risecheckout-body-color-rgb), 0.03);
	--risecheckout-card-cap-color: ;
	--risecheckout-card-height: ;
	--risecheckout-card-color: var(--risecheckout-body-color);
	--risecheckout-card-bg: #fff;
	--risecheckout-card-img-overlay-padding: 1rem;
	--risecheckout-card-group-margin: 0.75rem;

	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	height: var(--risecheckout-card-height);
	color: var(--risecheckout-card-color);
	word-wrap: break-word;
	background-color: var(--risecheckout-card-bg);
	background-clip: border-box;
	border-radius: var(--risecheckout-card-border-radius);

	.look-a-like & {
		--risecheckout-card-spacer-y: 1.875rem;
		--risecheckout-card-spacer-x: 1.875rem;
	}

	&.active {
		.woocommerce-js & {
			border: var(--risecheckout-card-border-width) solid var(--risecheckout-card-border-color);

			button.button {
				display: inline-block !important;
			}
		}
	}

	&:not(.active) {
		.step-fields,
		.woocommerce-checkout-payment {
			.woocommerce-js & {
				display: none;
			}
		}
	}

	:last-child {
		margin-bottom: 0;
	}

	button.button {
		display: none;
	}

	.desc,
	.placeholder {
		font-family: var(--risecheckout-card-desc-font);
		line-height: 1.4;
		margin-top: calc(-1 * var(--risecheckout-heading-margin-bottom) + .5rem);

		.look-a-like & {
			--risecheckout-card-desc-font: var(--risecheckout-font-sans-serif);
		}
	}

	.desc {
		margin-bottom: var(--risecheckout-heading-margin-bottom);
	}

	.placeholder {
		margin-bottom: 0;
	}
}

.checkout-steps > div {
	&:not(.active):not(.resume) {
		.woocommerce-js & {
			opacity: .5;

			.placeholder {
				display: block !important;
			}

			.desc {
				display: none;
			}

			.h3 {
				color: #666;

				&::before {
					background-color: #666;
				}
			}
		}
	}
}
/* .card-title, */
.checkout-steps > div .h3 {
	position: relative;
	padding-left: 1.75rem;

	&::before {
		counter-increment: step;
		content: counter(step);
		display: inline-block;
		background-color: var(--risecheckout-heading-color);
		border-radius: 50%;
		color: #fff;
		font-size: 0.666666667em;
		font-weight: 700;
		height: 1.75em;
		left: 0;
		line-height: 1.75em;
		position: absolute;
		text-align: center;
		top: 0;
		width: 1.75em;
		vertical-align: middle;
	}
}

/* .rounded-4, */
.checkout-steps > div,
.order-review-inner {
	border-radius: var(--risecheckout-border-radius-xxl);
}

.order-review-inner {
	box-shadow: 0 4px 12px rgba(0,0,0,.05);
}

/* .card-body, */
.checkout-steps > div,
.order-review-inner {
	flex: 1 1 auto;
	padding: var(--risecheckout-card-spacer-y) var(--risecheckout-card-spacer-x);
	color: var(--risecheckout-card-color);
}

/* .row, */
.step-fields {
	--risecheckout-gutter-x: 1.5rem;
	--risecheckout-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--risecheckout-gutter-y));
	margin-right: calc(-0.5 * var(--risecheckout-gutter-x));
	margin-left: calc(-0.5 * var(--risecheckout-gutter-x));

	> * {
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: calc(var(--risecheckout-gutter-x) * 0.5);
		padding-left: calc(var(--risecheckout-gutter-x) * 0.5);
		margin-top: var(--risecheckout-gutter-y);
	}

	> .cpf-field {
		--width: 66.66666667%;

		flex: 0 0 auto;
		width: var(--width);

		.look-a-like & {
			--width: 63%;
		}
	}

	+ button.button {
		margin-top: 1.5rem;
	}
}

/* .gy-3, */
.step-fields {
	--risecheckout-gutter-y: 1.125rem;
}

/* .gx-3, */
.step-fields {
	--risecheckout-gutter-x: 1rem;
}
